* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: brown;
    background-image: url(fundo_site.png);
    background-size: cover;
    background-position: center;
}

form {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.barra-horizontal {
    background-color: #f87842;
    height: 5px;
    width: 210px;
    margin: 0 auto;
}

a {
    color: rgb(0, 174, 255);
    font-weight: 500;
    text-decoration: none;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #333;
}

button {
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-image: linear-gradient(#256a8a, #3393c1);
    border: solid 1px #256a8a;
    border-right-width: 4px;
    border-bottom-width: 4px;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-image: linear-gradient(#3393c1, #256a8a);
    transform: translateY(-2px);
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#logo {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.esqueceu-senha {
    text-align: center;
}

@media (max-width: 480px) {
    form {
        padding: 30px;
        width: 90%;
    }
}
