* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #f4c542; /* texto amarelo */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: flex-start; 
    background-color: #000000; /* fundo preto */
    /* removi a imagem de fundo */
    position: relative; 
    padding-top: 30px; 
}

form {
    background-color: rgba(20, 20, 20, 0.9); /* fundo escuro translúcido */
    padding: 50px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(244, 197, 66, 0.6);
    color: #f4c542;
}

h1 {
    font-size: 24px;
    color: #f4c542;
}

.barra-horizontal {
    background-color: #f4c542;
    height: 5px;
    width: 210px;
    margin: 0 auto;
    border-radius: 3px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: #f4c542;
}

.campo-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #222;
    color: #f4c542;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s ease;
}

input::placeholder {
    color: #f4c542aa;
}

input:focus {
    background-color: #3a0e0e;
    box-shadow: 0 0 8px #f4c542;
}

button {
    padding: 10px;
    align-self: center;
    width: 160px;
    border-radius: 30px;
    background-image: linear-gradient(90deg, #f4c542, #d1a92d);
    border: none;
    font-size: 16px;
    color: #121212;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 5px 15px rgba(244, 197, 66, 0.7);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(209, 169, 45, 0.9);
}

a {
    color: #f4c542;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.esqueceu-senha {
    text-align: center;
    color: #f4c542;
}

.lembrar-me {
    display: flex;
    gap: 5px;
    color: #f4c542;
}

#logo {
    width: 200px;
    position: absolute;
    left: 70px;
    top: 10px;
    filter: drop-shadow(0 0 8px #f4c542);
}
